
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div [ngClass]="{'light-mode': lightMode}">
  <div class="checkbox-container">
    <!-- <input type="checkbox" id="lightModeToggle" [(ngModel)]="lightMode">
    <label for="lightModeToggle">Light Mode</label> -->

    <input type="checkbox" id="modeToggle" [(ngModel)]="lightMode">
    <label for="modeToggle">{{ lightMode ? 'Dark Mode' : 'Light Mode' }}</label>
  </div>

 
  <app-header [lightMode]="lightMode" [name]="name" [socials]="socials"></app-header>

  <app-about [lightMode]="lightMode"></app-about>
  <app-services [lightMode]="lightMode"></app-services>
  <app-projects [lightMode]="lightMode" [projects]="projects"></app-projects>

  <router-outlet></router-outlet>
  <app-contact [lightMode]="lightMode" [socials]="socials"></app-contact>
  <app-footer [lightMode]="lightMode" [name]="name"></app-footer>

</div>
