
    <!--Service Section-->
    <div id="services" [ngClass]="{'light-mode': lightMode}">
        <div class="container">
            <h1 class="sub-title">My services</h1>
            <div class="services-list">
                <div>
                    <i class="fa-solid fa-code"></i>
                    <h2>Web Design</h2>
                    <p>I specialize in creating stunning and user-friendly websites tailored to your needs. Whether it's
                        a personal blog or a corporate website, I ensure top-notch design and functionality!</p>
                    <!--- <a href="">Learn More</a>    -->
                </div>

                <div>
                    <i class="fa-brands fa-uncharted"></i>
                    <h2>Software Troubleshoot</h2>
                    <p>Encountering software issues? I provide expert troubleshooting services to identify and resolve a
                        wide range of software problems, ensuring smooth operation of your systems!</p>
                    <!--- <a href="">Learn More</a>    -->
                </div>

                <div>
                    <i class="fa-brands fa-app-store"></i>
                    <h2>App Development</h2>
                    <p>Need a mobile app to expand your business or reach your audience? I develop custom mobile
                        applications for iOS and Android platforms, delivering intuitive and engaging user experiences.!
                    </p>
                    <!--- <a href="">Learn More</a>    -->
                </div>

                
            </div>
        </div>

    </div>

